*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
background-color: gray;
}
.header{
    width: 100%;
    height: 100vh;
}
h2{
    margin-bottom: 0.5rem;
}
.header__content{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./images/mert-kahveci-c8GdokJMjWU-unsplash.jpg);
    position: relative;
}

.header__content--title{
    background-color: rgba(0, 0, 0, 0.775);
    text-align: center;
    position: absolute;
    padding: 15px 40px;
    margin: 20%;
    border: 8px solid rgb(43, 59, 200); 
    border-radius: 10px 0 10px 0;  
    outline: 10px solid rgba(203, 214, 228, 0.974);
    outline-offset: 10px;
    font-family: 'Alfa Slab One', cursive;
    font-size: 25px;
    color: rgb(27, 132, 100);
    letter-spacing: 5PX;
}
.main__content--title{
    display: flex;
    width: 100%;
    height: 150px;
    justify-content: center;
    align-items: center;
    background: rgb(246,243,243);
background: linear-gradient(0deg, rgba(246,243,243,1) 0%, rgba(4,4,4,1) 50%);
font-size: 40px;
color: whitesmoke;
}
.main__content--image{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: start;
    justify-content: center;
    background-image: url(./images/collab-media-olOEI3-kV1s-unsplash.jpg);
    position: relative;
}
.main__description{
    background-color: rgba(106, 46, 32, 0.601);
    text-align: center;
    box-shadow: 3px 6px 6px rgba(60, 65, 75, 0.861);
    border-radius: 0 15px;
    letter-spacing: 1px;
    font-size: 20px;
    color: whitesmoke;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: bisque;
    line-height: 2rem;
    outline: white;
}
.main__content--image1{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: start;
    justify-content: center;
    background-image: url(./images/1000_F_75705135_W1hiHyXcmtEZH3Ndd9TBPco5AtLSbEix.jpg);
    position: relative;
}
.main__content--image2{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: start;
    justify-content: center;
    background-image: url(./images/kemeralti-37059.webp);
    position: relative;
}
.main__content--image3{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: start;
    justify-content: center;
    background-image: url(./images/07032013_1bfd0df8-b798-4b1e-af54-033087d054a1.jpg);
    position: relative;
}
.main__content--image4{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: start;
    justify-content: center;
    background-image: url(./images/izmir-gezilecek-yerler-sasali.jpg);
    position: relative;
}
.main__content--image5{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: start;
    justify-content: center;
    background-image: url(./images/izmir-agora-28147.webp);
    position: relative;
}
.main__content--image6{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: start;
    justify-content: center;
    background-image: url(./images/Kadifekale-izmir-gezilecek-yerler.jpg);
    position: relative;
}



